body
{
    border: solid 10px black;
    height: 120vh;
    /*background-color: rgb(252, 220, 177);*/
    background-color: rgb(250, 235, 215);
    padding: 0; margin: 0;
    min-height: 100vh;
    position: relative;
    z-index: 9;
    display: flex;
    flex-direction: column;
}

body,nav
{
    margin: 0;
    background-color: rgb(250, 235, 215);
}

h2
{

    text-align: center;
    align-items: center;
}

.head
{
    background-color: rgb(249, 221, 183);
    background-color: antiquewhite;
    position: sticky;
    top: 0;
    z-index: 9;
    height: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    border: solid 2px black ;
    border-top: 1px inset;
    border-left: 1px inset;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    word-wrap: break-word;
    opacity: 0.9;
}

.logo
{
    width: 20%;
    float: left;
}

.links
{
    margin-left: 100px;
    width: 80%;
    float: right;
}

.proj
{
    box-shadow: 0px 0px 10px 10px  rgb(255, 212, 137);
}

.link
{
    height: 50px;
    width: 150px;
    margin-right: 20px;
    border-bottom: 7px black inset ;
    border-right: 7px black inset;
    border-top: 1px inset;
    border-left: 1px inset;
    border-radius: 10px;
    background-color: transparent;
    color: rgb(0, 0, 0);
}

.link:hover
{
    border: 3px black inset;
    border-radius: 5px;
}

a
{
    margin: 20px
}

.align
{
    margin-top: 20px;
}

.project
{
    border: solid 3px black;
    width: 40%;
    height: 100px;
    margin-bottom: 40px;
    margin-left: 20px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}


.project:hover
{
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,.6);
}

.project2
{
    border: solid 3px black;
    width: 40%;
    float: right;
    margin-right: 20px;
    height: 100px;
    margin-bottom: 40px;
    margin-left: 20px;
}

.project2:hover
{
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,.6);
}

#pageMain { flex-grow: 1; }

.final-footer
{
    height: 150px;
    position: static;
    background-color: rgb(255, 255, 255);
    color: whitesmoke;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;

}

.linked
{
    width: 100px;
    height: 50px;
    background: linear-gradient(to left, rgb(0, 0, 0) 50%, #ffffff 50%) right;
    background-size: 200% 100%;
    color: whitesmoke;
    border:2px solid white ;
}

.linked:hover
{
    background-position: left;
    transition:all .5s ease;
    color: black;
}